# Copy this file to tests/php/.env and update the values for your local environment.
DIVI_PATH=/absolute/path/to/wp-content/themes/Divi
WP_VERSION=7.0
WP_ROOT_DIRECTORY=/absolute/path/to/wordpress/root/folder
WP_TESTS_DOMAIN=wordpress.test
WP_TESTS_EMAIL=admin@wordpress.test
TEST_DB_NAME=test
TEST_DB_HOST=localhost
TEST_DB_USER=root
TEST_DB_PASSWORD=
TEST_TABLE_PREFIX=wp_
DIVI_THEME_DIRECTORY=Divi
